<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= htmlWebpackPlugin.options.title %></title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <meta name="description" content="<%= htmlWebpackPlugin.options.metaDesc %>" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap" rel="stylesheet">
  <style>
    * {
      margin: 0;
      padding: 0;
      font-family: 'Major Mono Display', monospace;
    }

    body {
      min-height: 100vh;
      display: flex; 
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: black;
    }

    #notification-card {
      background-color: transparent;
      color: white;
    }

  </style>
</head>
<body>
</body>
</html>

